<html>
<head>
<title>ProjectBrowserGameSpring</title>
<script th:src="@{/resources/javascript/jquery-2.1.1.min.js}"></script>
<script th:src="@{/resources/javascript/jquery-ui.min.js}"></script>
<script th:src="@{/resources/javascript/tag-it.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/jquery-ui.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/theme.css}"/>
</head> 
<body>
	<table>
		<tr>
			<td>
				<div th:include="templates/mainTemplate/header"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div th:include="templates/mainTemplate/navigation"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div th:replace="${view}"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div th:include="templates/mainTemplate/footer"></div>
			</td>
		</tr> 
	</table>
</body>	
</html>